<strong>Olá, {{ user }} </strong>
<p>Está encomenda foi cancellada pelo entregador</p>
<p>
  <strong>Entregador: </strong> {{ deliveryman }} <br />
  <strong>Cliente: </strong> {{ recipient }} <br />
  <strong>Data/hora: </strong> {{ date }} <br />
  <br />
  <small>
    Confira juntamente com o entregador a situação da encomenda.
  </small>
</p>
