<strong>Olá, {{ deliveryman }} </strong>
<p>Vocẽ tem uma encomenda para entregar, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong> {{ recipint }} <br />
  <strong>Data/hora: </strong> {{ date }} <br />
  <br />
  <small>
    O harário está novamente disponivel para novos agendamentos.
  </small>
</p>
